html {
    background-color: black;
}

body {
    color: white;
}

/* .earth {
    position: fixed;
    top: 0;
    left: 0;
    background: url(img2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
} */

.link_wrapper {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: .8em;
}

.link_wrapper a {
    font-size: min(6vw, 2rem);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: .3;
}